$namespace: 'mysass' !default;       // default的意思是如果没有设置这个变量，则使用默认值
$block-sel: "-" !default;            // 块选择器的前缀，也就是b
$element-sel: "__" !default;         // 元素选择器的前缀，也就是e
$modifier-sel: "--" !default;        // 修饰符选择器的前缀，也就是m


// block

// 定义一个混合指令，接收一下block
@mixin b($block){
    // 用$符号写个变量，这样这个变量就能命中像 <div class="mysass-block"></div> 这样的选择器
    $B: #{$namespace + $block-sel + $block};
    // 进行插值
    .#{$B} {
        // 这个content就是一个占位符，用来接收嵌套的样式，比如如果哪里用了下面的，就会被替换成嵌套的样式
        // .mysass-block {
        //     display: flex;
        // }
        @content;
    }
}

// element

// 定义一个混合指令，接收一下和element
@mixin e($el){
    // 使用&父级选择器获取到当前选择器的父级类名
    $selector: &;
    // 跳出嵌套，让这里面的不用再编译后使用父类名
    @at-root{
        #{$selector + $element-sel + $el} {
            @content;
        }
    }
    
}

// modifier

// 定义一个混合指令，接收一下modifier
@mixin m($mod){
    // 使用&父级选择器获取到当前选择器的父级类名
    $selector: &;
    // 跳出嵌套，让这里面的不用再编译后使用父类名
    @at-root{
        #{$selector + $modifier-sel + $mod} {
            @content;
        }
    }
}

// 定义完了之后如果想在全局的vue组件中都可以使用的话，就需要在vit.config.js中配置一下
